:root{
    --footer--color:#757575;
    --font--color:#000000;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 40px;
    border-bottom: 1px solid #e4e4e4;
}

header a{
    color: var(--font--color);
    /* 아이콘들한테는 왜 이렇게 먹히는지ㅜㅜ */
    font-size: 13px;
    display: block;
    /* a커서 가운데 정렬 안되는거 막음 */
}


.tap{
    display: flex;
    
}

.tap a{
    margin-right: 13px;
    
}

.logo svg{
    height: 1.5rem;
    width: auto;
}

/* h1{
    height: 20px;
} */

.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
}

.icons{
    display: flex;
    width: 200px;
    justify-content: flex-end;
}

.icons li{
    margin-left: 13px;
    /* height: 20px; */
    /* 가운데 정렬이 안돼서 heigth 20을 h1이랑 얘한테 줬는데
    이렇게 하는게 맞나요ㅠㅠ a가 커서 가운데 정렬 안됨 display block주면 됨
    logo svg에 블록하면 됨 h1에 굳이 하잇스20 안주고 인라인블록이라 안된ㄱ임
    글고 돋보기에 input search 넣어야하는데
    아이콘 눌러야 나오는 형식이고 반응형도 있어서 잘 모르겠어요! */
}

section{
    padding: 0 20px;
    max-width: 1440px;
    margin: 20px auto;
}

.video-wrapper h2{
    font-size: 22px;
    text-align: center;
    padding: 80px 0;
    width: 100%;
    
}

.video-wrapper{
    position: relative;
}

.video-con{
    max-width: 100%;
    
}

video{
    box-sizing: border-box;
    width: 100%;
    height: 100%;    
    /* padding: 0 60px; */
}
/* 비디오 반응형 어떻게 이렇게 될까요? 동영상이 다른것 같은데
줄어들면 html에 동영상 다른걸로 바꿔줄 수 있나유ㅠㅠ 요 밑처럼영??
반응형 맨 끝에 하는건 알지만 동영상 처음 해본거라 
궁금해서 함 먼저 해봐쓰요!! */
.small-video{
    display: none;
}

/* @media screen and (min-width:1440px) {
    section{
        width: 1440px;
        margin: 20px auto;
    }
} */

@media screen and (max-width:900px){
    .big-video{
        display: none;
    }
    .small-video{
        display: block;
    }
    section{
        padding: 0;
    }
    .women-bags,#men{
        padding: 20px;
    }
}

.all{
    text-align: center;
    margin-top: 80px;
}

.all h2{
    font-size: 16px;
    margin-bottom: 10px;
}

.all button{
    width: 124px;
    height: 48px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 24px;
    margin-bottom: 80px;
}

.link-a{
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
}
/* a가 감싸는걸로 바꿨는데 저 속성을 안줘도 알맞게 선택이
되는 것 같아요 이때는 위에 속성들 지워주나요??
마진에 커서 안돼서 위 속성 써줘야해 */


/* .link-a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
} */
/* a가 전체를 다 덮어버렸어요@!!ㅜㅜㅜ 
a 를 감싸는 li에 relative주면 먹힘!! 
만약 글씨만(h2) 선택되게 하고싶다면 a태그보다 앞 글씨에 z-index 
2로 주면 됨*/

.women-bags{
    position: relative;
    display: grid;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-areas: 
    "A1 A2 A3 A4"
    "B1 B2 B3 B4"
    ;
}

.a.a1{
    grid-area: A1;
}

.a.a2{
    grid-area: A2;
}

.a.a3{
    grid-area: A3;
}

.a.a4{
    grid-area: A4;
}

.b.a1{
    grid-area: B1;
}

.b.b2{
    grid-area: B2;
}

.b.b3{
    grid-area: B3;
}

.b.b4{
    grid-area: B4;
}

.women-bags h3{
    margin: 10px;
}

#men h2{
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

.men-bag1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.mens-pic{
    flex-basis: 100%
}

.men-saddle,.men-cross{
    flex-basis: calc((100% - 2.7777777778%) / 2);
    /* 이게 머에요,,,,,?? 1440 40 비율상 100%-40px 이게 깔끔
    여백만들려고 2뻼*/
}

.men-bag1 p{
    margin-top: 10px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #000000;
}

.men-bag2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 80px;
}

.men-bag2 h3{
    margin-top: 10px;
    color: #000000;
}

.men-bag2 li{
    margin-bottom: 40px;
    flex-basis: calc((100% - 3 * 2.7777777778%) / 4);
    /* 이거 함수인건 알겠는데 3*2.7 이 의미는 머에요? 2.7=40px */
    /* 컨테이너 크기-간격의 갯수*간격넓이 /컨탠츠 갯수 여백을 위해 */
    /* 100%=1440px 2.77778%=40px (40/1440)*/
    /* flex-basis: 33.333%; */
    /* 캐리어백이미지 크기가 혼자 
    작은데 이 방법 말고 다른방법 뭐가있나요? */
}

.move-container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100px;
    /* width: 100%; */
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;

}

.white-box{
    width: 20px;
    height: 100px;
    /* flex-basis: 30%; */
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    /* background-color: white */
    background: linear-gradient(to right,white 80%,transparent 20%);
}


#play-button:checked .move{
    animation-play-state: paused;
}

#paly-button:checked .move:hover{
    animation-play-state: running;
}

.pause{
    /* flex-basis: 70%; */
}

.right{
    display: flex;
    font-size: 13px;
    line-height: 20px;
    overflow: hidden;
}

.right div{
    display: flex;
    margin: 0 7px;
}

.right>div a{
    display: block;
    text-align: center;
}


.move{
    animation: to-left 10s infinite linear;
    /* z-index: -2; */
}


@keyframes to-left{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}


